.frame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}

.main_frame {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1440px;
  height: 1312px;
  margin-top: 2px;
  background-color: #f7f3f3;
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: white;
}

.main_frame .midd_frame {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 970px;
  height: 1259px;
  margin-right: 27px;
  margin-left: 30px;
}

.main_frame .right_frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 108px;
  height: 1315px;
  background-color: white;
}

.line {
position: relative;
width: 220px;
height: 0;
}

.main_frame .left_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
}

.main_frame .left_1 .left_1_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
}

.main_frame .left_1 .left_1_2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
}

.main_frame .left_1 .left_1_3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147.84px;
  height: 25.65px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-transform: capitalize;
  color: 口#767676;
  font-feature-settings:
  "calt" off,
  "kern" off;
}

.left_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 238px;
  margin-top: 19px;
}

.link_href {
  text-decoration: none;
  color: black;
}

.icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px Orgba (0, 0, 0, 0.25));
}

.icon_1 {
  position: relative;
  right: 27.08%;
  left: 29.17%;
  margin-top: 5.86px;
}

.main_frame .marginer {
  position: relative;
  width: 220px;
  height: 0px;
  border: 1.5px solid #f0f0f6;
  margin-top: 39px;
  margin-bottom: 25px;
  margin-left: 40px;
}

.main_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
}

.about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 221px;
  height: 25px;
}

.about_me_color {
  background-color: orange;
}

.age {
  width: 33.15px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  background-color: orange;
}

.age_number {
  width: 19.09px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: capitalize;
}

.residence {
  width: 78px;
  height: 28px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  background-color: orange;
}

.residence_1 {
  width: 45px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: capitalize;
}

.freelance {
  width: 74px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  background-color: orange;
}

.freelance_1 {
  width: 65px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: capitalize;
}

.address {
  width: 63px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  background-color: orange;
}

.address_1 {
  width: 132px;
  height: 24px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: capitalize;
}

.main_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
}

.language, .skills {
width: 220px;
height: 30px;
display: flex;
justify-content: space-between;
}

.language_1, .skills_1{

position: relative;
width: 49px;
height: 24px;
font-family: "Inter";
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;

}

.language_number, .skills_number {
width: 38px;
height: 24px;
font-family: "Inter";
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}



.main_frame .left_4 {
  position: relative;
  width: 220px;
  height: 252px;
  margin-top: 25px;
  margin-left: 45px;
}

.main_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
}

.extra {
display: flex;
align-items: center;
gap: 8px;
}

.extra p {
margin: 0;
  }


                /*Left frame 끝*/


.middle {
position: relative;
width: 100%;
height: 1259px;
margin-left: 30px;
margin-right: 27px;
display: flex;
justify-content: space-between;
padding: 40px;
background-color: white;
}

.middle_1 {
width: 500px;
font-family: sans-serif;
font-weight: 500;
font-size: 40px;
line-height: 115%;
letter-spacing: 0%;
color: black;
margin-top: 70px;
margin-bottom: 18px;
}

h2 {
font-family: "Inter";
font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 123.6%;
letter-spacing: 0%;
text-align: left;
}

p {
font-family: "Inter";
font-style: Regular;
font-size: 22px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}

.hire_me {
 background-color: #f4a300;
 color: #222;
 border: none;
 padding: 20px 50px;
 font-size: 32px;
 border-radius: 25px;
 cursor: pointer;
 display: flex;
 align-items: center;
 gap: 20px;
}

.hire_me img {
width: 10.67px;
height: 10.37px;
}

.middle_picture img {
width: 300px;
border-radius: 20px;
padding-right: 90px;
}

.my_services {
display: flex;
flex-direction: column;
align-items: center;
height: 653px;
width: 100%;
margin-top: 139px;
background: white;
}

h2 {
font-weight: 700;
font-size: 32px;
line-height: 124%;
letter-spacing: 0%;
text-transform: capitalize;
color: black;
text-align: center;
margin-bottom: 25px;
}

p {
width: 438px;
text-align: center;
font-weight: 400;
font-size: 15px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #767676;
margin-bottom: 50px;
}

.cards {
display: grid;
gap: 10px;
grid-template-columns: repeat(3, 1fr);
}

.card {
width: 310px;
height: 225px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;background: white;
}

.card h3 {
font-weight: 500;
font-size: 18px;
line-height: 124%;
letter-spacing: 0%;
text-transform: capitalize;
color: black;
margin-top: 23px;
}

 p {
font-weight: 400;
font-size: 15px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #767676;
margin-top: 16px;
margin-bottom: 38px;
}

.advertising p {
width: 260px;
text-align: center;
margin-bottom: 20px;
}

.advertising h4 {
  margin-top: 28px;
}

.advertising a {
margin-bottom: 28px;
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: orange;
text-decoration: none;
}
/* middle 끝 */


.right_frame {
position: relative;
width: 108px;
height: 1315px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
}

.right_buttons {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 493px;
margin-top: 174px;
}